[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "==0.2.11"
vosk = "==0.3.30"
torch = "==1.7.1"
torchaudio = "==0.7.2"
SoundFile = "==0.10.3.post1"
pyvad = "==0.1.3"
pydub = "==0.25.1"
sox = "==1.4.1"
websockets = "==10.0"

[dev-packages]

[requires]
python_version = "3.8"
